<a href="<%= user_url(user) %>" class="list-group-item list-group-item-action py-3 lh-sm overflow-hidden <%= user_active?(user) %>">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1"><%= user.email %></strong>
<!--    <small class="text-body-secondary">Wed</small>-->
  </div>

<!--  <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
</a>
